body{
    background-color: aliceblue;
}
h1{
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    color: red;
}
table{
    border: 1px double black;
}
td{
    border: 1px double black;
}
th{
    border: 1px double black;
}